.dialog-title {
//  margin-top: -10px;
  padding-bottom: 10px;
  height: 40px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
}

.dialog-content {
  padding-bottom: 30px;
//  height: 50px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 17px;
  max-height: 400px;
}

.dialog-actions {
//  height: 30px;
//  margin-top: 20px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 17px;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.material-icons.mat-icon {
  @include md-icon-size(40px);
}

mat-list-item {
//  height: 5px;
}

mat-grid-tile {
//  border-bottom: 1px;
}

.align-start > figure.mat-figure {
  font-weight: 200 !important;
  justify-content: flex-start !important;
}

.align-end > figure.mat-figure {
  font-weight: 400 !important;
  width: 90% !important;
  justify-content: flex-end !important;
}
