<div class="example-container mat-elevation-z8">
	<mat-toolbar> 
		<mat-toolbar-row>
			{{title}}
			<div fxLayout="row" fxFlex fxLayoutAlign="end">
				<button mat-icon-button *ngIf="multiSelection"
																(click)="selectAll()"
													 			matTooltip="Select/deselect all"
																color="primar">
					<mat-icon color="primary">select_all</mat-icon>
				</button>
				<button mat-button *ngFor="let button of buttons | position: 'right' | row: 0"
													 (click)="buttonClick(button)"
													 [matTooltip]="button.tooltip"
													 [disabled]="button.disabled"
													 color="primary">
					<mat-icon [color]="button.disabled ? '' : 'primary'">{{button.icon}}</mat-icon>
					{{button.caption}}
				</button>
				<button mat-icon-button *ngFor="let iconButton of iconButtons | position: 'right' | row: 0"
															  (click)="iconBbuttonClick(iconButton)"
													 			[matTooltip]="iconButton.tooltip"
		  												  [disabled]="iconButton.disabled"
																color="primary">
					<mat-icon [color]="iconButton.disabled ? '' : 'primary'">{{iconButton.icon}}</mat-icon>
				</button>
			</div>
		</mat-toolbar-row> 
		<mat-toolbar-row *ngIf="(buttons | row: 1).length > 0 || (iconButtons | row: 1).length > 0">
			<button mat-button *ngFor="let button of buttons | position: 'left' | row: 1"
												 (click)="buttonClick(button)"
												 [matTooltip]="button.tooltip"
												 [disabled]="button.disabled"
												 color="primary">
				<mat-icon [color]="button.disabled ? '' : 'primary'">{{button.icon}}</mat-icon>
				{{button.caption}}
			</button>
			<button mat-icon-button *ngFor="let iconButton of iconButtons | position: 'left' | row: 1"
														  (click)="iconBbuttonClick(iconButton)"
													 		[matTooltip]="iconButton.tooltip"
														  [disabled]="iconButton.disabled"
															color="primary">
				<mat-icon [color]="iconButton.disabled ? '' : 'primary'">{{iconButton.icon}}</mat-icon>
			</button>
		
			<div fxLayout="row" fxFlex fxLayoutAlign="center">
				<button mat-button *ngFor="let button of buttons | position: 'center' | row: 1"
													 (click)="buttonClick(button)"
													 [matTooltip]="button.tooltip"
													 [disabled]="button.disabled"
													 color="primary">
					<mat-icon [color]="button.disabled ? '' : 'primary'">{{button.icon}}</mat-icon>
					{{button.caption}}
				</button>
				<button mat-icon-button *ngFor="let iconButton of iconButtons | position: 'center' | row: 1"
															  (click)="iconBbuttonClick(iconButton)"
													 			[matTooltip]="iconButton.tooltip"
															  [disabled]="iconButton.disabled"
																color="primary">
					<mat-icon [color]="iconButton.disabled ? '' : 'primary'">{{iconButton.icon}}</mat-icon>
				</button>
			</div>
			
			<div fxLayout="row" fxFlex fxLayoutAlign="end">
				
				<button mat-button *ngFor="let button of buttons | position: 'right' | row: 1"
													 (click)="buttonClick(button)"
													 [matTooltip]="button.tooltip"
													 [disabled]="button.disabled"
													 color="primary">
					<mat-icon [color]="button.disabled ? '' : 'primary'">{{button.icon}}</mat-icon>
					{{button.caption}}
				</button>
				<button mat-icon-button *ngFor="let iconButton of iconButtons | position: 'right' | row: 1"
															  (click)="iconBbuttonClick(iconButton)"
													 			[matTooltip]="iconButton.tooltip"
															  [disabled]="iconButton.disabled"
																color="primary">
					<mat-icon [color]="iconButton.disabled ? '' : 'primary'">{{iconButton.icon}}</mat-icon>
				</button>
			</div>
		</mat-toolbar-row> 
		<mat-toolbar-row *ngIf="fields.length > 0 || filter"> 
			<div fxLayout="row" fxFlex fxLayoutAlign="left">
				<mat-form-field *ngFor="let field of fields; let i=index;"> 
					<div *ngIf="type !== 'date'">
						<input matInput
					  			 [placeholder]="field.placeholder"
									 [name]="field.name"
									 [(ngModel)]="field.value"
									 [type]="field.type"> 
					</div>
					<div *ngIf="type === 'date'">
						<input matInput 
									 [matDatepicker]="field.name" 
						 			 [placeholder]="field.placeholder"
		 							 [(ngModel)]="field.value"> 
				  	<mat-datepicker-toggle matSuffix [for]="field.name"></mat-datepicker-toggle>
				  	<mat-datepicker #picker></mat-datepicker>
				  </div>
			  </mat-form-field> 
				
			  <mat-form-field *ngIf="filter"> 
				  <input matInput (keyup)="applyFilter($event.target.value)"
								 placeholder="Filter"> 
				</mat-form-field> 
			</div>
		</mat-toolbar-row> 
	</mat-toolbar>

	<mat-progress-bar	mode="indeterminate" *ngIf="progress"></mat-progress-bar> 
	
	<mat-table #table [dataSource]="dataSource" matSort
						class="example-table">
		<ng-container *ngFor="let col of displayedColumns; let i=index;"
									matColumnDef={{col}}> 
			<mat-header-cell *matHeaderCellDef mat-sort-header class="example-header-cell">
				{{displayedColumnsNames[i]}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row"
								class="example-cell" [style.color]="row[col]"> {{row[col]}}</mat-cell>
		</ng-container> <!-- ID Column --> 
		<mat-header-row *matHeaderRowDef="displayedColumns"
										class="example-header-row">
		</mat-header-row> 
		<mat-row *matRowDef="let row; columns: displayedColumns;" 
						 class="example-row"
						 [ngClass]="{'selected-row': row.selected===true}"
						 (click)="selectItem(row)"></mat-row>
	</mat-table>

	<mat-paginator #paginator [length]="dataSource.data.length"
		[pageIndex]="0" [pageSize]="25"
		[pageSizeOptions]="[5, 10, 25, 50, 100]"> </mat-paginator>

</div>
