<mat-toolbar color="primary" 
						 class="mat-elevation-z8" 
						 style="position: sticky; top: 0; z-index: 999;">
	<mat-toolbar-row>{{title}}</mat-toolbar-row>
	<mat-toolbar-row>
		<button mat-button 
						routerLink="/webrfc-page" 
						routerLinkActive="active">Generic SAP test</button>
		<button mat-button 
						routerLink="/data-tables-page" 
						routerLinkActive="active">SAP data-table</button>
		<button mat-button 
						routerLink="/web-data-table-page" 
						routerLinkActive="active">Web data-table</button>
	</mat-toolbar-row>
</mat-toolbar>
<br />

<router-outlet></router-outlet>