<mat-toolbar color="primary"
						mat-elevation-z8>Webrfc</mat-toolbar>

<br/>

<div fxLayout="column" fxLayoutAlign="center center">
	<mat-card mat-elevation-z8> 
		<mat-card-title>Call parameters</mat-card-title>
		<mat-card-content>
		<!-- 
		<form [formGroup]="form" class="full-width">
			<div formGroupName="name">
		-->
		
		<!-- 
				<div fxLayout="row">
				  <mat-form-field fxFlex="30">
			   		 <input matInput placeholder="Function"
			   		 				name="_FUNCTION"
			   		 				[(ngModel)]="_FUNCTION">
			    </mat-form-field>
		    </div>
		    -->
				<div fxLayout="row">
				  <mat-form-field fxFlex="30">
					  <mat-select [(value)]="_FUNCTION"
			   		 						name="_FUNCTION"
			   		 						[(ngModel)]="_FUNCTION"
			   		 						 placeholder="Function">
					    <mat-option value="Z_WRFC_INTERFACE">Call function</mat-option>
					    <mat-option value="Z_WRFC_FUNCTION_INTERFACE">Get function interface</mat-option>
					    <mat-option value="Z_WRFC_TABLE">Get table entries</mat-option>
					  </mat-select>
					</mat-form-field>
		    </div>
		    
		    <div fxLayout="row">
				  <mat-form-field fxFlex="30">
			   		 <input matInput placeholder="Method"
			   		 				name="method"
			   		 				[(ngModel)]="method">
			    </mat-form-field>
		    </div>
		    <div *ngFor="let field of fields; index as i;"
		         fxLayout="row"
				     fxLayoutGap="20px">
					<mat-form-field fxFlex="30%">
				  	 <input matInput placeholder="Parameter"
			   		 				[(ngModel)]="field.parameter">
				  </mat-form-field>
					<mat-form-field fxFlex="60%">
				    <input matInput placeholder="Value"
			   		 				[(ngModel)]="field.value">
				  </mat-form-field>
				  <div fxLayout="row" 
				       fxLayoutGap="10px"
				  		 fxLayoutAlign="end end">
						<button mat-mini-fab color="accent"
										(click)="clearField(i)"><mat-icon>clear</mat-icon></button>
						<button mat-mini-fab color="warn"
										(click)="removeField(i)"><mat-icon>remove</mat-icon></button>
					</div>
			  </div>
		<!-- 
			</div>	
		</form>
		-->
		<br/>
	   	<div fxLayout="row" fxLayoutAlign="center center">
				<button mat-mini-fab color="primary"
								(click)="addField()"><mat-icon>add</mat-icon></button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button mat-mini-fab color="accent"
								(click)="clearFields()"><mat-icon>clear</mat-icon></button>
				<div *ngIf="fields.length">
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button mat-mini-fab color="warn"			  
									(click)="removeAllFields()"><mat-icon>remove</mat-icon></button>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
	   	<div fxLayout="row" fxLayoutAlign="center center">
	   		<button mat-raised-button 
	   						color="primary"
	   						(click)="run()"
	   						style="width: 200px;">Run</button>
	   	</div>
		</mat-card-actions>
		<mat-card-footer>
			<mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>

	<br/>
	<mat-card mat-elevation-z8 *ngIf="response"> 
		<mat-card-title>Response</mat-card-title>
		<mat-card-content>
		  <code>
			  <pre>{{response | json}}</pre>
		  </code>
		</mat-card-content>
	</mat-card>

</div>

<router-outlet></router-outlet>
