<div fxLayout="column" fxLayoutAlign="center center">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z8">
      <mat-expansion-panel-header>
        <mat-panel-title> User list </mat-panel-title>
        <mat-panel-description> List of users from https://jsonplaceholder.typicode.com/users</mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
        <lib-pmt-base-data-table style="width: 100%; min-width: 600px;" 
 		        								 title="User list" 
		        								 baseUrl="https://jsonplaceholder.typicode.com/users"
		        								 dataType="json"
		        								 type="GET"        								
		        								 [buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
		        								  						{ caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
		        								 [iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																 							{ icon: 'refresh', position: 'right', action: 'refresh', color: 'prymary', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
		        								 [displayedColumns]="['name', 'email', 'phone', 'company']" 
		        								 [displayedColumnsNames]="['Name', 'Email', 'Phone', 'Company']"> </lib-pmt-base-data-table>
      </div>
    </mat-expansion-panel>
    
    <mat-expansion-panel class="mat-elevation-z8">
      <mat-expansion-panel-header>
        <mat-panel-title> Exchange rates </mat-panel-title>
        <mat-panel-description> Exchange rates Banca d'Italia</mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
        <lib-pmt-base-data-table style="width: 100%; min-width: 600px;" 
 		        								 title="Exchange rates" 
		        								 baseUrl="GET https://tassidicambio.bancaditalia.it/terzevalute-wf-web/rest/v1.0/currencies"
		        								 dataType="json"    
		        								 type="GET"    								
		        								 [fields]="[ { name: 'referenceDate', value:'', type: 'datePicker', placeholder: 'Reference date' },
		        													   { name: 'lang', value:'', type: 'text', placeholder: 'Language' },
		        													   { name: 'baseCurrencyIsoCode', value:'', type: 'text', placeholder: 'Base currency ISO code' },
		        													   { name: 'currencyIsoCode', value:'EUR', type: 'text', placeholder: 'Currency ISO code' }	]"
		        								 [buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
		        								  						{ caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
		        								 [iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																 							{ icon: 'refresh', position: 'right', action: 'refresh', color: 'prymary', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
		        								 [displayedColumns]="['name', 'email', 'phone', 'company']" 
		        								 [displayedColumnsNames]="['Name', 'Email', 'Phone', 'Company']"> </lib-pmt-base-data-table>
      </div>
    </mat-expansion-panel>
    
  </mat-accordion>

</div>

